<html>
<head>
<title>Add Bike</title>
</head>
<body>
<h1>Owner</h1>
<h1>Post Bike</h1>
	<form action = "addbike" method = "POST">
	<table id = "BIKE">
		<tr>
			<th>Make:</th>
			<td><input type ="Make" name = "Make"></td>
		</tr>
		<tr>
			<th> Model: </th>
			<td><input type = "Model" name = "Model"></td>
		</tr>
		<tr>
			<th> Model Year: </th>
			<td><input type = "ModelYear" name = "ModelYear"></td>
		</tr>
		<tr>
			<td> Description </th>
			<textarea name="message" rows="7" cols="75"> Write a description about your bike.</textarea>
			
		<tr>
			<th>Daily Rate:</th>
			<td> <input type = "number" step = "0.25" min ="0" name ="dlyrate"> </td>
		</tr>

		<tr>
			<th>Hourly Rate:</th>
			<td> <input type = "number" step = "0.25" min ="0" name = "hlyrate"> </td>
		</tr>

		<tr>
			<th> Type: </th>
			<td> <select name ="biketype">
					<option value= "cruiser">Cruiser</option>
					<option value = "tandem">Tandem</option>
					<option value = "mountain">Mountain</option>
					<option value = "commuter">Commuter</option>
					<option value = "recumbent">Recumbent</option>
					</select>
			</td>
		</tr>
		<tr>
			<th>Address: </th>
			<td> <input type = "text" name = "streetaddress" value = "Street">		
			<td> <input type ="text" name = "city" value = "City"> </td>
			<td><input type = "hidden" name = "state" value = "Maryland"> </td>
			<td> <select name = "zipcode" >
				<option select = "selected">Zip</option>
				{% for zip in allzips %}
				<option value = "{{ zip.zip }}">{{zip.zip}}</option>
				{% endfor %}
				</select> </td>
		</tr>
		<tr>
			<th> Lock Code:</th>
			<td> <input type = "text" name = "lockcode" pattern = "[0-9]{8}">
		<tr>
			<td>		
				<input type="submit" value="Add">
			</td>
		<tr>
	</table>

		</form>
	</body>
</html>
