<html>
<head>
<title>Owner</title>
</head>
<body>
<h1>Owner</h1>
<h1>Post Bike</h1>
	<table id = "BIKE">
		<tr>
			<td>Make:</td>
			<td><input type ="Make" name = "Make"></td>
		</tr>
		<tr>
			<td> Model: </td>
			<td><input type = "Model" name = "Model"></td>
		</tr>
		<tr>
			<td> Model Year: </td>
			<td><input type = "MakeYear" name = "MakeYear"></td>
		</tr>
		<tr>
			<td> Description </td>
			<textarea name="message" rows="7" cols="75"> Write a description about your bike.</textarea>
			<input type="submit" value="Post">
		</form>
	</body>
</html>
