<html>
	<h3> Search for Bikes </h3>
<form action="search" method="POST">
	<table id="bsearch">
		<tr>
			<th>
			Zip
			</th>
			
			<td>

			<td><input list = "zips" name ="zip"></td>
				<datalist id = "zips">
				{% for zip in allzips %}
				<option value = "{{ zip.zip }}"> {{zip.zip}}</option>
				{% endfor %}
				</datalist>
			<td><input type = "checkbox" name = "nearbyzips">Include nearby ZIPs</input>
		</tr>
		<tr>
			<td></td>
			<td><input type = "submit" value = "Search"></td>
		</tr>


</form>


</html>
