<html>
	<h1>Book Trip</h1>
	<table>
		<tr>
			<th>Owner: </th>
			<td>{{ owner.firstname }}</td>
			<th>Rating:
			<td>{{ owner.rating }}</td>
		</tr>
	</table>
	<table>
			
			<th> Daily Rate </th>
			<th> Hourly Rate </th>
			<th> Type </th>
			<th>Model</th>
			<th> Make </th>
	 		<th>Year</th>
			<th>City</th>
			<th>ZIP</th>
			<th>Description</th>
		</tr>

		<tr>
			<td>{{ bike.dlyrate }}</td>
			<td> {{ bike.hlyrate }} </td>
			<td> {{ bike.biketype }} </td>
			<td> {{ bike.model}} </td>
			<td> {{ bike.make }} </td>
			<td> {{ bike.modelyear }} </td>
			<td> {{ bike.city }} </td>
			<td> {{ bike.zipcode }} </td>
			<td> {{ bike.description }} </td>
		</tr>


	</table>

&nbsp
&nbsp
{{ bike.bikeid }}
&nbsp
&nbsp

	<form method = "POST" action = "book" name = "userTripSubm">
		Hourly or Daily:
		<select name = "hrlyOrDly"> 
			<option value = "hrly">Hourly</option>
			<option value = "dly">Daily</option>
		</select>
		Length of trip:
		<input type = "number" name = "length" min = "1" max = "24">

		Start Time/Date:
			<input type = "time" name = "startTime">
			<input type = "date" name = "startDate">
		Tip:	
		<input type = "text" name = "tip" value = "$0.00" pattern = "\$[0-9]{1,3}\.[0-9][0-9]">

		<input type = "hidden" name = "bikeId" value = "{{ bike.bikeid }}">
	
	<input type = "submit" value = "Submit">
	
	</form>


</html>
