<html>
<head>
<title>Login</title>
</head>
<body>
<h1>Peer Cycle</h1>
<form action="login" method="POST">
    <table id="login">
        <tr>
            <td>Email: </td>
            <td><input type="email" name="email" autofocus
		pattern = ".+@.+\..+"></td>
        </tr>
        <tr>
            <td>Password: </td>
            <td><input type="password" name="passwd"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Log in"></td>
        </tr>
    </table>
</form>

Don't have an account? <a href = "create">Make an Account</a>
</body>
</html>
