<html>
	<head> PeerCycle: Your Trips </head>
	<body>
		<h1> PeerCycle </h1>
		<h2> Your Trips </h2>
		Hello {{ name }}. Here is your trip history.
		<table>
			<tr>
				<th> Trip ID </th>
				<th> Owner ID </th>
				<th> Renter ID </th>
				<th> Bike ID </th>
				<th> Derived Cost </th>
				<th> Tip Given </th>
				<th> Tax </th>
				<th> Total Cost </th>
				<th> Owner Review </th>
				<th> Renter Review </th>
			</tr>
{% for trips in results %}
			<tr>
				<td> {{trips.tripid }} </td>
				<td> {{trips.ownerid}} </td>
				<td> {{trips.renterid}} </td>
				<td> {{trips.bikeid}} </td>
				<td> {{trips.derivedcost}} </td>
				<td> {{trips.tip}} </td>
				<td> {{trips.tax}} </td>
				<td> {{trips.totalCost}} </td> <br>
	
					{% if trips.ownerexperence != null %}
						<td> {{trips.ownerexperence}} </td>
					{% else %}
						<td> "No Response" </td>
					{% endif %}
					
					{% if trips.riderexperence != null %}
						<td> {{trips.riderexperence}} </td>
					{% else %}
						{% include 'relink.html' %}
					{% endif %}
			</tr>
{% endfor %}

{% for trips in Oresult %}
			<tr>
				<td> {{trips.tripid }} </td>
				<td> {{trips.ownerid}} </td>
				<td> {{trips.renterid}} </td>
				<td> {{trips.bikeid}} </td>
				<td> {{trips.derivedcost}} </td>
				<td> {{trips.tip}} </td>
				<td> {{trips.tax}} </td>
				<td> {{trips.totalCost}} </td> <br>
					
					{% if trips.ownerexperence != null %}
						<td> {{trips.ownerexperence}} </td>
					{% else %}
						{% include 'relink.html' %}
					{% endif %}
					
					{% if trips.riderexperence != null %}
						<td> {{trips.riderexperence}} </td>
					{% else %}
						<td> "No Response" </td>
					{% endif %}
			</tr>
{% endfor %}			

		</table>
		<a href = "/welcome">Return to Home</a>
	</body>
