<html>
	<head>
		<title>Sign Up</title>
	</head>
	<body>
		<h1> Sign Up</h1>
		<form action="" method = "POST">
		<table id = "Person">
		<tr>
		<td> Name:</td>
		<td><Input type = "text" name="First Name"></td>
		</tr>
		<tr>
		<td> Email:</td>
		<td> <Input type = "text" name = "Email"> </td>
		</tr>
		<tr>
		<td> Phone Number:</td>
		<td> <Input type = "text" name = "PhoneNumber"></td>
		</tr>
		<tr>
		<td> Credit Card Number:</td>
		<td> <Input type = "text" name = "PhoneNumber"></td>
		</tr>
		<tr>
		<td>  Owner or Renter:</td>
		<td>
		<select name = "Person">
			<option> Owner</option>
            <option> Renter</option>
		</select>
		
		</td>
		</tr>
		</table>
	
		<td> <Input type = "Submit" value = "Sign up"</td>
		</form>
	</body>
</html>

<h2> Links</h2>
<p><a href="">Search</a></p>
<p><a href="">Book Trip </a></p>
<p><a href="">Bike History</a></p>
<p><a href="">Logout</a></p>
</body>
</html>
